body
{
  color            : black;
  background-color : #FFFFFF /*#E0E0E0;*/ /*#DCDCDC;*/ /*rgb(230, 200, 123);*/
  font-family      : Comic sans MS/*Verdana, Arial, Helvetica;*/
  font-size        : 0.9em;
  border:15px solid rgb(255,20,147);
  margin:50px 15%;
}

/* .border */
/* { */
/*   color: rgb(230, 100, 123); */
/*   width: 9em; */
/*   position: absolute; */
/*   top: 2em; */
/*   left: 1em; */
/* } */

A {color: #008B8B}
A:link    {text-decoration: none}
A:visited {text-decoration: none}
A:active  {text-decoration: none}
A:hover   {text-decoration: underline}

A.apdf {color: rgb(20, 50, 120)}

A.missed {color: rgb(165, 42, 42)}

.name {font-weight: bold; font-family: "Comic sans MS"; font-size: 40px; color: rgb(139,0,139)/*rgb(153, 102, 51)*/;}

.titleart {color: rgb(10, 40, 0); font-weight: 500;}

.titleart2 {color: rgb(130, 110, 70)}

.title1 {font-weight: bold; font-size: 18px; color: rgb(165, 42, 42)/*rgb(153, 102, 51)*/;}

.title1b {font-weight: bold; font-size: 18px; color: #F8F8FF;}

.title2 {font-weight: bold; color: rgb(153, 102, 51);}

.title3 {font-weight: bold; color: rgb(165, 42, 42)/*rgb(153, 102, 51)*/;}

.title3b {font-weight: bold; color: #F8F8FF;}

.clash1a {background-color:      #DC143C;}
.clash1b {border:      1px solid #DC143C;}
.clash1c {border-left: 2px solid #DC143C;}
